@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;500;700&family=Outfit:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=League+Spartan:wght@200;500;700&family=Outfit:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.desktop.section-1 {
    background-image: url("assets/desktop/image-map.png");
    position: absolute;
    width: 1440px;
    height: 600px;
    left: 0px;
    top: 0px;
}
.location.tab {
    position: absolute;
    width: 264px;
    height: 72px;
    left: 156px;
    top: 0px;
}
.location.tab .text {
    background-color: #151515;
    position: absolute;
    height: 72px;
    width: 208px;
    left: 212px;
    top: 0px;
}
.tab .text span {
    position: absolute;
    height: 24px;
    width: 137px;
    top: 24px;
    left: 32px;
    text-transform: uppercase;
    font-family: 'Big Shoulders Display';
    font-size: 20px;
    font-weight: 800;
    color: #ffffff;
    line-height: 24px;
    letter-spacing: 2.0px;
    text-align: left;
}
.tab #arrow {
    background-color: #D5966C;
    position: absolute;
    height: 72px;
    width: 56px;
    left: 156px;
    top: 0px;
}
.right-arrow {
    position: absolute;
    left: 24px;
    top: 24px;

}
.desktop.section-2 {
    background-color: #151515;
    width: 1440px;
    position: absolute;
    height: 548px;
    left: 0px;
    top: 600px;
}
.desktop.section-2 .content {
    position: absolute;
    width: 1110px;
    height: 316px;
    left: 165px;
    top: 104px;
    color: #ffffff;
}
.content .title {
    position: absolute;
    height: 140px;
    width: 350px;
    left: 0px;
    top: 0px;
    font-family: 'Big Shoulders Display';
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;



}
.content .address {
    position: absolute;
    height: 156px;
    width: 445px;
    left: 570px;
    top: 0px;
}
.address span {
    position: absolute;
    height: 36px;
    width: 350px;
    left: 0px;
    top: 0px;
    font-family: 'Big Shoulders Display';
    font-size: 36px;
    font-weight: 900;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
    color: #D5966C;

}
.address .city {
    position: absolute;
    height: 96px;
    width: 445px;
    left: 0px;
    top: 60px;
    font-family: 'Outfit';
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
}
.content .description {
    position: absolute;
    height: 128px;
    width: 540px;
    left: 570px;
    top: 188px;
    font-family: 'Outfit';
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;

}
.footer {
	position: absolute;
	height: 244px;
	left: 0px;
	right: 0px;
	top: 548px;
	background-color: #D5966C;
    display: flex;
}
.footer--container {
    display: flex;
    color: #151515;
    width: 100%;
    justify-content: space-between;
    
}
.footer--logo {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Big Shoulders Display';
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 27px;

}
.footer--description {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Outfit';
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;

}
.social-media--icons {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    fill: #151515;
    
}



@media only screen and (481px <= width <= 768px ) {
    .desktop.section-1 {
        background-image: url("assets/tablet/image-map.png");
        width: 768px;
        height: 600px;
    }
    .location.tab {
        display: none;
    }
    .desktop.section-2 {
        width: 768px;
        height: 436px;
        left: 0px;
        top: 600px;
    }
    .desktop.section-2 .content {
        width: 689px;
        height: 268px;
        left: 39px;
        top: 88px;
    }
    .content .title {
        position: absolute;
        height: 100px;
        width: 223px;
        font-size: 55px;
        line-height: 50px;
        
    
    
    
    }
    .content .address {
        height: 149px;
        width: 398px;
        left: 291px;
        top: 0px;
    }
    .address span {
        height: 32px;
        width: 350px;
        font-size: 32px;
        line-height: 32px;
        
    
    }
    .address .city {
        height: 84px;
        width: 398px;
        top: 52px;
        font-size: 18px;
        line-height: 28px;
    }
    .content .description {
        height: 112px;
        width: 398px;
        left: 291px;
        top: 156px;
        font-size: 18px;
        line-height: 28px;
    }
    .footer{
        top: 400px;
        height: 216px;
    }
    .footer--description {
        font-size: 16px;
        line-height: 26px;
    }
    
}

@media only screen and (320<= width <= 480px ) {
    .desktop.section-1 {
        background-image: url("assets/mobile/image-map.png");
        height: 550px;
    }
    .location.tab .text{
        border: 2px solid green;
        top: 0px;
        left: 0px;
    }
    .desktop.section-2 {
        height: 493px;
    }
    
}    


    


















